@model IEnumerable<Zadanie>
<div class="row">
    <div class= "col-md-2">
        <form asp-action="Filter" method ="post">
            <div class="mb-5">
                <label class="from-label font-weight-bold">Kategoria:</label>
                <select name="kategoria" class="form-select" style="border-radius: 8px;"
                        asp-items="@(new SelectList(ViewBag.Kategorie, "IDKategoria", "Nazwa", ViewBag.Filtry.IDKategoria))">
                    <option value="all">All</option>
                 </select>       
            </div>
            <div class="mb-5">
                <label class="from-label font-weight-bold">Okres:</label>
                <select name="due" class="form-select" style="border-radius: 8px;"
                        asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filtry.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="mb-5">
                <label class="from-label font-weight-bold">Status:</label>
                <select name="status" class="form-select" style="border-radius: 8px;"
                        asp-items="@(new SelectList(ViewBag.Statusy, "IDStatus", "Nazwa", ViewBag.Filtry.IDStatus))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="d-flex justify-content-start mb-3">
                <button type="submit" class="btn btn-primary me-2">Filtruj</button> 
                <a asp-action="Index" asp-route-id="" class="btn btn-secondary">Wyczyść</a>
            </div>

        </form>
    </div>
    <div class="col-md-10">
        <form asp-action="Ozn_Zrobione" method="post" asp-route-id="@ViewBag.Filtry.Filterstring">
            <table class="table table-bordered table-light table-striped mt-2" style=" padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                <thead>
                    <tr>
                        <th>Opis </th>
                        <th>Kategoria </th>
                        <th>Data </th>
                        <th>Status </th>
                        <th class="w-25 "></th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any())
                {
                    <div class="task-count" style="background-color: #f9f9f9; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                        Liczba zadań: @Model.Count()
                    </div>
                
                <tbody>
                    @foreach(Zadanie zadanie in Model)
                    {
                        string overdue = zadanie.CzyOpozniony ? "bg-warning" : "";
                        <tr>
                            <td>@zadanie.Opis</td>
                            <td>@zadanie.Kategoria.Nazwa</td>
                            <td class="@overdue">@zadanie.Date?.ToShortDateString()</td>
                            <td class="@overdue">@zadanie.Status.Nazwa</td>
                            <td>
                                @if (zadanie.StatusIDStatus == "otw")
                                {
                                    <button type="submit" class="btn btn-primary btn-sm"
                                            name="@nameof(Zadanie.Id)" value="@zadanie.Id">
                                        Zaznacz Zrobione
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                }
                else
                {
                    <p>Brak danych do wyświetlenia.</p>
                }
            </table>

        </form>
        <form asp-action="UsunZrobione" method="post" asp-route-id ="@ViewBag.Filtry.Filterstring">
            <a asp-action="Dodaj" class="btn btn-primary">Dodaj nowe zadanie</a>
            <button type="submit" class="btn btn-primary">Usuń zrobione zadania</button>
        </form>
    </div>
</div>